* {
  margin: 0;
  font-family: Helvetica;
  box-sizing: 0;
  padding: 0;
}

/* font style */
.text-heading-binar {
  font-size: 36px;
  line-height: 54px;
  font-weight: 700;
}

.text-heading-one {
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
}

.text-heading-two {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}
.text-sub-heading {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.text-binar {
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
}

a.text-footer {
  text-decoration: none;
  color: black;
}

/* Navigation toggle */
#menu-toggle ~ .mobile-menu {
  transition: right 0.3s ease-in;
  right: -200px;
}
#menu-toggle:checked ~ .mobile-menu {
  transition: right 0.3s ease-in;
  right: 0;
}

/* button */
button.btn-primary {
  background-color: #5cb85f;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 700;
  padding: 8px 12px;
}

ul.list-offer {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  font-weight: 300;
  font-size: 14px;
}

li:not(:last-child) {
  margin-bottom: 20px;
}

/* why us */
.column-why-us {
  padding-top: 90px;
  padding-left: 136px;
  padding-right: 136px;
}

.why-us-card {
  min-height: 176px;
}

/* testimonial */

#testimonial-gallery {
  scroll-snap-type: x mandatory;
  /* scroll-snap-align:inherit; */
  padding-top: 40px;
}

.gallery {
  background: #f1f3ff;
}

.gallery-cell {
  width: 66%;
  height: 200px;
  margin-right: 10px;
  background: #8c8;
  counter-increment: gallery-cell;
}

/* Banner two */
.banner-two-text {
  inline-size: 212px !important;
}
@media screen and (min-width: 768px) {
  .banner-two-text {
    inline-size: 468px !important;
  }
  .why-us-card {
    min-height: 222px;
  }
}

/* cell number */
.gallery-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}

/* accordion */
#accordianFAQ .accordion-item {
  border: 1px solid rgba(0, 0, 0, 0.125) !important;
  border-radius: 4px;
}
#accordianFAQ .accordion-button {
  padding: 18px 24px;
}

@media screen and (min-width: 1281px) {
  #card-title {
    padding-left: 77px;
  }
  #card-text-title {
    padding-right: 165px;
  }

  .why-us-card {
    min-height: 242px;
  }
}
/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 320px) and (max-width: 480px) {
  #faq {
    text-align: center;
  }
  #why-us-title {
    text-align: center;
  }
}
/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
